.header{
    position:sticky;
    top:0;
    display:flex;
    justify-content:space-between;
    padding:8px;
    padding-top:0;
    align-items:center;
    margin:0px 10px;
}

.logo{
   color:white;
   font-family: 'Russo One', sans-serif;
   font-size:30px;
   
}

.logo span{
    color:#009dff;
}

.about{
    color:white;
    font-size:15px;
    font-family: 'Manrope', sans-serif;
    font-weight:bold;
    
}

.about p {
    margin-bottom:30px;
    margin-right:50px;
    
}